In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import lasio, glob
import missingno as msno
from pprint import pprint
%matplotlib inline

In [63]:
path = r'F:\\Geology\\Undergraduate\\Research\\Raton Formation\\research_raton\\DONOTERASE\\Vermejo Park\\Western Wells\\'

In [64]:
allFiles=glob.glob(path+"*.las")

In [65]:
listed = []
for i in range(len(glob.glob(path+'*.*'))):
    listed.append(glob.glob(path+'*.*')[i][-4:])

In [101]:
tops=glob.glob(path+"*top*.*")
facies = glob.glob(path+'*facies*.*')

In [83]:
len(tops)

0

In [67]:
for file in allFiles:
    logCurves=pd.DataFrame()

    l=lasio.read(file)
    for i in range(len(l.curves)):
        logCurves[l.curves[i].mnemonic] = l[l.curves[i].mnemonic]
logCurves

         DEPT     TT3    AMP3  CCL        GR
0     1178.25     NaN     NaN  NaN   78.5571
1     1178.50     NaN     NaN  NaN   89.5904
2     1178.75     NaN     NaN  NaN  100.1154
3     1179.00     NaN     NaN  NaN  108.6264
4     1179.25     NaN     NaN  NaN  114.8004
5     1179.50     NaN     NaN  NaN  119.6532
6     1179.75     NaN     NaN  NaN  124.7595
7     1180.00     NaN     NaN  NaN  130.8721
8     1180.25     NaN     NaN  NaN  137.2929
9     1180.50     NaN     NaN  NaN  142.6988
10    1180.75     NaN     NaN  NaN  146.2962
11    1181.00     NaN     NaN  NaN  147.9495
12    1181.25     NaN     NaN  NaN  147.5998
13    1181.50     NaN     NaN  NaN  145.0581
14    1181.75     NaN     NaN  NaN  140.3633
15    1182.00     NaN     NaN  NaN  134.1944
16    1182.25     NaN     NaN  NaN  127.9725
17    1182.50     NaN     NaN  NaN  123.5594
18    1182.75     NaN     NaN  NaN  122.4094
19    1183.00     NaN     NaN  NaN  124.5367
20    1183.25     NaN     NaN  NaN  128.3712
21    1183.50  1320.0  1.8445  NaN  131.8942
22    1183.75  1320.0  1.8462  NaN  133.9214
23    1184.00  1320.0  1.8593  NaN  134.3783
24    1184.25  1320.0  1.8728  NaN  133.9614
25    1184.50  1320.0  1.8771  NaN  133.7836
26    1184.75  1320.0  1.8708  NaN  134.6248
27    1185.00  1320.0  1.8597  NaN  135.9652
28    1185.25  1320.0  1.8534  NaN  136.2231
29    1185.50  1320.0  1.8624  NaN  134.4304
...       ...     ...     ...  ...       ...
1880  1648.25     NaN     NaN  0.0       NaN
1881  1648.50     NaN     NaN  0.0       NaN
1882  1648.75     NaN     NaN  0.0       NaN
1883  1649.00     NaN     NaN  0.0       NaN
1884  1649.25     NaN     NaN  0.0       NaN
1885  1649.50     NaN     NaN  0.0       NaN
1886  1649.75     NaN     NaN  0.0       NaN
1887  1650.00     NaN     NaN  0.0       NaN
1888  1650.25     NaN     NaN  0.0       NaN
1889  1650.50     NaN     NaN  0.0       NaN
1890  1650.75     NaN     NaN  0.0       NaN
1891  1651.00     NaN     NaN  0.0       NaN
1892  1651.25     NaN     NaN  0.0       NaN
1893  1651.50     NaN     NaN  0.0       NaN
1894  1651.75     NaN     NaN  0.0       NaN
1895  1652.00     NaN     NaN  0.0       NaN
1896  1652.25     NaN     NaN  0.0       NaN
1897  1652.50     NaN     NaN  0.0       NaN
1898  1652.75     NaN     NaN  0.0       NaN
1899  1653.00     NaN     NaN  NaN       NaN
1900  1653.25     NaN     NaN  NaN       NaN
1901  1653.50     NaN     NaN  NaN       NaN
1902  1653.75     NaN     NaN  NaN       NaN
1903  1654.00     NaN     NaN  NaN       NaN
1904  1654.25     NaN     NaN  NaN       NaN
1905  1654.50     NaN     NaN  NaN       NaN
1906  1654.75     NaN     NaN  NaN       NaN
1907  1655.00     NaN     NaN  NaN       NaN
1908  1655.25     NaN     NaN  NaN       NaN
1909  1655.50     NaN     NaN  NaN       NaN

[1910 rows x 5 columns]

In [77]:
l.curves[1]['descr']

"CBL 3' Travel Time"

In [107]:
#step 1 is size of the dataset
if 51 < 50:
    print('Get More Data')
elif (len(tops) >= 0 | len(facies)>0) & len(allFiles)<100000:
    print('Linear SVC')

Linear SVC

In [94]:
len(allFiles)

49